{% extends "_layouts/default.twig" %}

{% block title %}Active Search w/HTMX{% endblock %}

{% block content %}
  <form action="/{{ craft.app.request.pathInfo }}"
        method="get">
    <label for="q">Search Contacts</label>
    <input value="{{ craft.app.request.getParam('q') }}"
           type="search"
           id="q"
           name="q"
           placeholder="Begin Typing To Search Users..."
           hx-get="/htmx/results"
           hx-target="#results"
           hx-trigger="keyup changed delay:500ms, search"
           hx-indicator=".loading">
    <button type="submit"
            class="loading">
      {{ source('_svg/loading.svg')|raw }}
    </button>
  </form>

  <div id="results">
    {{ include("htmx/results.twig") }}
  </div>
{% endblock %}
