{% extends "_layouts/default.twig" %}

{% block title %}Active Search Demos{% endblock %}

{% block content %}
  <div class="min-h-[calc(100vh-4rem)] flex justify-center items-center">
    <nav class="m-auto flex flex-row gap-4 items-center p-4 min-h-[300px]">
      {% for x in [{
          uri : 'mpa',
          title : 'MPA'
        },
        {
          uri : 'unpoly',
          title: 'Unpoly'
        },
        {
          uri : 'htmx',
          title: 'HTMX'
        },
        {
          uri : 'alpine',
          title: 'Alpine'
        }
      ] %}
        <a href="{{ url(x.uri) }}"
           up-layer="new"
           class="py-2 px-6 text-lg border border-blue-300 text-blue-300 rounded focus:bg-blue-300 hover:bg-blue-300 hover:text-white focus:text-white">
          {{ x.title }}
        </a>
      {% endfor %}
    </nav>
  </div>
{% endblock %}
